* {
    box-sizing: border-box;
    margin: 0;
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255,255,255);
}

/* Setup of the Overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

/* Initial display of the MODAL */
.modal__section {
    /* Ezt a display-t kell majd JS-ből kapcsolgatni! */
    display: none;
    
}

/* Media measurment of the MODAL */
@media screen and (min-width: 560px) {
    .modal__container {
        max-width: 50%;
        left: 25%;
    }
}

.modal__container {
    width: 100%;
    background-color: rgb(255,255,255);
    position: absolute;
    top: 25%;
    z-index: 9999;       
}



/* Paddings of the modal elements */
.modal__haeder {
    padding: 1rem 1rem 0 1rem;
}

.modal__content {
    margin-top: -1rem;
    padding: 0 1rem;
}

.modal__footer {
    padding: 1rem;
}



/* Buttons */
button {
    border: 0;
    padding: 1rem;
    transition: .15s;
}

.btn__flat {
    color: rgb(236,236,236);
    font-weight: 600;
}

.btn__modal--primary {
    background-color: rgba(25, 100, 180, 0.75);
    }

.btn__OK {
    background-color: rgba(23, 102, 13, 0.75);
}

.btn__cancel {
    background-color: rgba(219, 61, 22, 0.75);

}

.btn__close--xType {
    position: relative;
    top: -1rem;
    left: 94%;
    font-size: 2rem;
    background-color: rgba(236,236,236,.0);
    outline: none;
}